@font-face {
	font-family: 'Mardoto';
	src: url('../assets/fonts/Mardoto-Regular.eot');
	src: local('☺'), url('../assets/fonts/Mardoto-Regular.woff') format('woff'), url('../assets/fonts/Mardoto-Regular.ttf') format('truetype'), url('../assets/fonts/Mardoto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    touch-action: manipulation;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.font_poppins{
    font-family: 'Poppins', sans-serif;
}

.box-shadow{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.d-block{
    display: block;
}
a:hover{
    text-decoration: none;
}
.swiper-pagination-bullet:focus{
    outline: 0;
}
/* Typo start */
h1, .h1{
    font-size: 70px;
    line-height: 82px;
    font-family: 'Roboto';
}

h2,.h2{
    font-size: 45px;
    line-height: 53px;
    font-family: 'Roboto';
}

h3,.h3{
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto';
}

h4,.h4{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
}

h5,.h5{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
}

p,.p{
    font-size: 16px;
    line-height: 23px;
    color: #767676;
    font-family: 'Roboto';
}

html[lang="hy-AM"], html[lang="hy-AM"] body *,
html[lang="hy-AM"] h1, html[lang="hy-AM"] .h1,
html[lang="hy-AM"] h2, html[lang="hy-AM"] .h2,
html[lang="hy-AM"] h3, html[lang="hy-AM"] .h3,
html[lang="hy-AM"] h4, html[lang="hy-AM"] .h4,
html[lang="hy-AM"] h5, html[lang="hy-AM"] .h5,
html[lang="hy-AM"] p, html[lang="hy-AM"] .p{
    font-family: 'Mardoto';
}
/* typo end */

/* Common  Start */
.header--nav-link:hover{
    color: #eee;
}
.burger_container {
    display: none;
    z-index: 900;
  }
  #drawSVG{
    position: absolute;
    top: -1px;
    transition: .3s ease;
  }
  .burger_overlay.active{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 550;
  }
  .bars {
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 3px;
    transition: .5s ease;
    border-radius: 5px;
  }
  .burger_bar_container{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 650;
    top: 2px;
  }
  .burger_bar_container.active #drawSVG{
      /*top: -4px;
      left: 4px;*/
  }
  .burger_bar_container.active #drawSVG path{
      fill: #B9B9B9;
  }
  .burger_bar_container.active .bars{
    background-color: #B9B9B9;
    margin-right: 7px;
    top: 2px;
    position: relative;
  }

  .burger_bar_container.active .bar1 {
    transform: rotate(-45deg) translate(1px, 4px);
  }
  
  .burger_bar_container.active .bar2 {
    opacity: 0;
  }
  
  .burger_bar_container.active .bar3 {
    transform: rotate(45deg) translate(-3px, -8px);
  }
  
  .content {
    position: fixed;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    transition: .5s ease;
    transform: translateX(100%);
    z-index: 640;
  }

  .content .header--nav-link{
      color: #000;
      width: 100%;
      padding: 0;
      line-height: 50px;
  }
  
  .burger_bar_container.active + .content,
    .burger_bar_container.active  .header--nav-link{
        transform: translateX(0);
    }
    .app--button{
    display: block;
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
}
.app--button img{
    width: 100%;
    height: 100%;
}
.home--page-about-card-item{
    position: relative;
    display: flex;
    align-items: center;
    width: 240px;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    background: #FFFFFF;
    color: #E52B50;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}
.home--page-about-card-item > *{
    pointer-events: none;
}
.home--page-about-card-subitem{
    position: relative;
    display: flex;
    align-items: center;
    width: 240px;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    background: #E5E5E5;
    border-radius: 0px 0px 5px 5px;
    color: #767676;
    cursor: pointer;
    transition: .3s ease;
}
.home--page-about-card-item::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    transition: .2s ease-in;
}
.home--page-about-card-item.active,
.home--page-about-card-item:hover{
    background-color: #E52B50;
    color: #fff;
}

.home--page-about-card-subitem.active,
.home--page-about-card-subitem:hover{
    background-color: #E52B50;
    color: #fff;
}

.home--page-about-card-item.active::before{
    border-left-color: #E52B50;
}
.home--page-about-card-item-dropdown{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.home--page-about-card-item-dropdown .home--page-about-card-item::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 20px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    transition: .2s ease-in;
    z-index: 120;
}
.home--page-about-card-item:hover::after{
    border-top-color: #E52B50;
}
.home--page-about-card-item-dropdown .home--page-about-card-item{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}
.home--page-about-card-item-icon{
    display: block;
    width: 34px; 
    height: 25px;
    margin-right: 20px;
    background-image: url('../assets/css_sprites.png');
    transition: .3s ease;
}
.card-item-icon-bank-card{
    background-position:  -64px -10px;
}
.home--page-about-card-item.active .card-item-icon-bank-card,
.home--page-about-card-item:hover .card-item-icon-bank-card{
    background-position: -10px -10px;
}
.card-item-icon-notification{
    background-position:   -53px -100px;
}
.home--page-about-card-item.active .card-item-icon-notification,
.home--page-about-card-item:hover .card-item-icon-notification{
    background-position: -10px -100px;
}
.card-item-icon-virtual-card{
    background-position:   -10px -55px;
}
.home--page-about-card-subitem.active .card-item-icon-virtual-card,
.home--page-about-card-subitem:hover .card-item-icon-virtual-card{
    background-position: -59px -55px;
}
.card-item-icon-coupons{
    background-position:   -118px -10px;
}
.home--page-about-card-item.active .card-item-icon-coupons,
.home--page-about-card-item:hover .card-item-icon-coupons{
    background-position: -118px -55px;
}
.home--digital-card-list-item{
    margin-bottom: 20px;
}
.home--page-about-project{
    position: relative;
    flex-wrap: nowrap;
}
.home--page-digital-card-product{
    align-items: center;
}
.home--page-about-project-phone{
    overflow: hidden;
    position: relative;
    width: 462px;
    height: 798px;
    margin-top: -288px;
    z-index: 100;
}
.home--page-about-project-dec{
    max-width: 518px;
    padding-top: 78px;
    overflow: hidden;
}
.home--about-project-item-wrapper{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 518px;
    max-width: 100%;
    /*min-height: 142px;*/
    height: 100%;
}
.home--about-project-item{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    padding-right: 30px;
}
.home--page-about-project-phone img:not(.home--phone-layer){
    max-width: 372px;
    max-height: 672px;
    object-fit: contain;
}
.home--digital-card-box{
    position: absolute;
    top: 84px;
    right: 15%;
    width: 100%;
    height: 100%;
    max-width: 610px;
    max-height: 480px;
    padding: 80px 120px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.home--digital-card-list-title{
    text-transform: uppercase;
    margin-left: 15px;
    line-height: 40px;
    font-size: 18px;
}
.home--digital-card-list-icon{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.home--digital-card-list-icon::before{
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: -11px;
    width: 50px;
    height: 50px;
    /*background-image: url('../assets/card-list-icon-cover.svg');*/
}
.home--digital-card-icon-doc{
    background-image: url('../assets/task.svg');
}

.home--digital-card-icon-check{
    background-image: url('../assets/check.svg');
}
.home--digital-card-icon-safe{
    background-image: url('../assets/safe.svg');
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.pb-100{
    padding-bottom: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.related--item-single{
    position: relative;
    display: flex;
    align-items: center;
    max-height: 154px;
    margin-bottom: 25px;
    background-color: #fff;
    transition: height .2s ease;
}
.related--item-single-cover{
    width: 100%;
    height: 100%;
    width: 250px;
    object-fit: cover;
    height: 154px;
}
.subheader--title-white *{
    color: #fff;
}
.related--item-contet{
    padding: 26px 30px;
}
.related--item-title{
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.social--share-container{
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #eeeeee;
}
.social--text{
    margin-bottom: 0;
    margin-right: 10px;
    color: #000;
    text-transform: uppercase;
}
.social_ico{
    color: #000;
    margin-right: 15px;
}
.load-more-button{
    position: relative;
    display: block;
    width: 190px;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
    background: #E52B50;
    color: #fff;
    border-radius: 5px;
    transition: .2s;
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    z-index: 15;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.load-more-button::after, .load-more-button::before{
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s;
}

.load-more-button::before{
    opacity: 1;
    transition-delay: .2s;
}
.load-more-button:after, .load-more-button:before{
    bottom: -100%;
    left: 0;
}
.load-more-button:hover{
    color: #E52B50;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

}
.load-more-button:hover::before, .load-more-button:hover::after{
    bottom: 0
 }

 .pad-distance-between-header-footer{
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .page--title-section{
     margin-bottom: 50px;
 }
 .page--title{
     margin-bottom: 20px;
     text-align: center;
     color: #000;
 }
 .page--subtitle{
     display: block;
     text-align: center;
     font-family: 'Roboto';
     font-size: 16px;
     line-height: 23px;
     color: #767676;
 }
.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: #F4F4F4;
}
.fancybox-bg{
    background-color: #fff;
    opacity: 1;
}

.fancybox-navigation{
    position: relative;
    width: 65%;
    height: 100%;
    margin: 0 auto;
}

.fancybox-navigation .fancybox-button{
    background: #E52B50;
    border-radius: 5px;
    color: #fff;
    width: 45px;
    height: 45px;
    padding: 0;
    top: 50%;
}
.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}
.fancybox-button.fancybox-button--close{
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    color: #000;
    width: 100px;
}
.fancybox-button svg{
    width: 35px;
    height: 35px;
}
.fancybox-button.fancybox-button--close:before{
    content: 'close';
    display: inline-block;
    font-family: 'Roboto';
    margin-right: 10px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.fancybox-button.fancybox-button--close:hover{
    color: #E52B50;
}
.fancybox-navigation .fancybox-button[disabled],
.fancybox-navigation .fancybox-button[disabled]:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: #767676;
}
.subheader-section{
    position: relative;
    display: flex;
    align-items: center;
    /*height: 700px;*/
    height: 100vh;
    margin-top: -123px;
}
.subheader-section > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.subheader-section .container{
    position: relative;
    z-index: 150;
}
.subheader-section .row {
    max-width: 620px;
}
.subheader--title{
    color: #fff;
}
.image-with-content-box-container{
    position: relative;
    margin-bottom: 190px;
    height: 650px;
}
.image-with-content-box-container img{
    flex-shrink: 0;
    max-width: 65%;
    max-height: 100%;
    /*height: 100%;*/
    object-fit: contain;
}
.image-with-content-box-description{
    position: absolute;
    top: 120px;
    right: 0;
    width: 45%;
    height: 100%;
    padding: 120px;
    background-color: #fff;
}
.image-with-content-box-description > :not(h2){
    color: #767676;
}
/* Common End */

/* Header Start */
.header--container{
    position: relative;
    display: flex;
    align-items: center;
    height: 123px;
    background-color: transparent;
    z-index: 150;
}

.header--container-white{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.logo-container{
    width: 159px;
    height: 43px;
}
.brand--logo{
    width: 100%;
    height: 100%;
    background-image: url('../assets/logo_colored.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.brand--logo-white{
    background-image: url('../assets/logo_watermark.svg');
}

.header--nav-link{
    align-self: center;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}

.header--container-white .header--nav-link{
    color: #000000;
}

.header--nav-btn{
    width: 150px;
    height: 45px;
    border: 2px solid #fff;
    padding: 14px 0;
    margin-left: 9px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    transition: .5s ease;
    display: block !important;
}
.burger-nav .header--nav-btn{
    display: none !important;
}
.content.nav.burger-nav{
    padding-top: 120px;
    padding-left: 17px;
    padding-right: 20px;
}
.header--container-white .header--nav-btn{
    border-color: #E52B50;
    color: #E52B50;
}
.header--container-white .header--nav-btn:hover{
    background-color: #E52B50;
    color: #fff;
}
.header--container-white .burger_bar_container #drawSVG path{
    fill: #000;
}
.header--container-white .burger_bar_container.active #drawSVG path{
    fill: #B9B9B9;
}
.header--container-white .bars{
    background-color: #000;
}

.header--nav-link.nav-link.language_bar{
    color: #B9B9B9;
}
.header--nav-btn:hover{
    background-color: #fff;
    color: #000;
}

.header--nav-btn-white{
    border-color: #E52B50;
    color: #E52B50;
}
.header--nav-btn-white:hover{
    background-color: #E52B50;
    color: #fff;
}
/* Header End */

/* Home Start */
.home--exclusive-content .load-more-button{
    margin-left: 0;
}
.home--exclusive-list-item{
    list-style-type: none;
}

.home--exclusive-phone{
    position: relative;
    width: 100%;
    height: 574px;
    background-image: url('../assets/exclusiveCardPhone.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.home--page-ticket-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.home--ticket-phone{
    position: absolute;
    top: -110px;
    left: -70px;
    width: 377px;
    height: 650px;
    flex-shrink: 0;
    background-image: url('../assets/ticketAnimationPhone.png');
    background-position: center;
    background-size: cover;
    z-index: 65;
}
.home--ticket-image {
    position: relative;
    max-width: 710px;
    max-height: 398px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: -18px;
}
.home--ticket{
    position: relative;
    width: 100%;
    height: 455px;
    overflow: hidden;
    background-image: url('../assets/imageFirstStep.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.home--ticket-content{
    padding-top: 40px;
    padding-bottom: 40px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home--ticket-content h1{
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: #E52B50;
}
.home--page .partner--section-container{
    margin-bottom: 100px;
}
.app--buttons-dark .app--button{
    background-color: #000;
}
.home-page--promo-section-cover{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.home-page--promo-section > h2,.home-page--promo-section > p{
    background-color: #fff;
    padding-bottom: 20px;
    margin: 0;
}
.home-page--promo-section .app--buttons{
    background-color: rgba(255,255,255,.8);
}
.home--phone-image-inner{
    position: absolute;
    top: 26px;
    left: 45px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease;
    /*transform-origin: left;*/
    /*transform: scale(0)*/
    display: none;
}
.home--phone-image-inner.active{
    z-index: 15;
    /*transform: scale(1);*/
    display: block;
}
.home--phone-layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    max-width: 100%;
    max-height: 100%;
}
/* Home ENd */

/* Blog Start */
.mb-36{
    margin-bottom: 36px;
}
.blog--item{
    position: relative;
    display: flex;
    flex-direction: column;
    /*margin-bottom: 36px;*/
}
.blog--release-date{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
}
.blog--release-date--tooltip{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    min-width: 80px;
    height: 30px;
    padding: 4px 10px 0 27px;
    z-index: 15;
    font-size: 14px;
    border-radius: 5px;
    color: #767676;
    background-color: rgba(255, 255, 255, 0.9);;
}

.blog--release-date--tooltip::before,
.blog--release-date::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 12px;
    height: 12px;
    background-image: url('../assets/calendar_ico.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog--release-date::before{
    position: static;
    transform: none;
    margin-right: 16px;
    width: 14px;
    height: 14px;
}
.blog_cover{
    max-width: 100%;
    height: 100%;
    height: 280px;
    object-fit: cover;
    margin: 0 auto; 
}

.blog--item-description{
    padding-left: 30px;
    padding-right: 30px;
}

.blog--item-title{
    font-size: 20px;
    line-height: 23px;
    color: #000;
}
.blog--item-short-detail{
    font-size: 16px;
    line-height: 23px;
    color: #767676;
}
/* Blog End */

/* Blog inner start*/
.related--items-container-title{
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.blog--inner-cover{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
    object-fit: contain;
}
.blog--inner-content{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.blog--inner-description{
    padding-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 22px;
}
/* Blog inner end */
/* Team start */
.team--member-wrapper{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.team--member-photo{
    width: 100%;
    height: 100%;
    max-height: 330px;
    object-fit: cover;
}
.team--member-info{
    padding-top: 25px;
    padding-bottom: 20px;
}
.team--member-wrapper{
    margin-bottom: 40px;
}
.page--activity-album-item{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.page--activity-album-item img{
    width: 100%;
    height: 100%;
    max-height: 280px;
}
.page--activity-album-name{
    display: block;
    padding: 25px 30px 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.page--activity-album-item > a:not(.page--activity-album-active){
    display: none;
}
/* Team end */

/* Business Start */
.business--page{
    background-color: #e5e5e5;
}
.partner--section-slide-item{
    display: block;
    width: 100%;
    max-width: calc(20% - 20px);
    height: 123px;
    background-color: #eee;
    margin-right: 20px;
}
.partner--section-slider{
    min-height: 500px;
}
.partner--section-slider .swiper-slide{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partner--section-slider .partner--section-slide-item{
    margin-bottom: 32px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.partner--section-slider .partner--section-slide-item img{
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 100px;
    object-fit: contain;
}
.swiper-pagination-bullet{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('../assets/bullet.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.partner--section-slider .swiper-pagination-bullets{
    bottom: 0;
}

.swiper-pagination-bullet::after{
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition: all .3s ease;
}
.swiper-pagination-bullet-active::after{
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(229, 43, 80, 1);
}
/* Business End */
/* Footer Start */
footer{
    position: relative;
    background-color: #272727;
}

.footer_additional-item{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.footer--logo-container{
    flex: 0 0 50%;
    margin-right: 42px;
}
.footer--social_ico{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-right: 15px;
    transition: .3s ease;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
}
.footer--social_ico:hover{
    background-color: #fff;
    color: #000;
    border-color: #000;
}
.footer--additional-icon{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    transition: .3s ease-in-out;
    border-radius: 100%;
    text-align: center;
    background-color: #fff;
    color: #272727;
    border: 1px solid transparent;
}
.footer--additional-icon:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.footer--additional-icon{
    flex-shrink: 0;
}
.footer_additional-desc-container{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 23px;
}

.footer_additional-desc-title{
    color: #fff;
}

.footer_additional-desc{
    color: #767676;
}

.footer--main-sub{
    height: 50px;
    background-color: #303030;
}
.footer--main-sub p{
    font-size: 12px;
    line-height: 23px;
}
.footer--sub-link{
    color: #fff;
    text-decoration: underline;
}

.contact_map{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background-color: #000;
}

.footer--map-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
}
.footer--social-container{
    margin-bottom: 40px;
}
/*Footer End  */
/* Form Start */
.form--container{
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    padding: 40px 90px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    z-index: 950;
}
span.wpcf7-not-valid-tip{
    font-size: 12px !important;
    margin-top: 2px;
}
.partner-popup-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 850;
}
.partner-popup-overlay.active,
.form--container.active{
    display: block;
}
.form--container h2{
    margin-bottom: 40px;
} 
.form--container .burger_bar_container.active .bars{
    background-color: #B9B9B9;
}
.form--container .burger_bar_container{
    position: absolute;
    top: 33px;
    right: 20px;
}
.form--input-wrapper{
    display: flex;
    flex-direction: column;
    /*margin-bottom: 20px;*/
    margin-bottom: 15px;
}
.form--label{
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000;
}
.form--input{
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border: 1px solid #eee;
    height: 45px;
    padding: 12px 15px;
    border-radius: 5px;
    transition: .3s ease;
    color: #767676;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 23px;
    width: 100%;

}
.form--input:focus{
    border-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

textarea.form--input{
    height: 100px;
    line-height: 23px;
}

.form--submit-btn{
    appearance: none;
    width: 100px;
    height: 45px;
    background: #E52B50;
    border: 2px solid #E52B50;
    color: #fff;
    border-radius: 5px;
    margin-left: auto;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s ease-in;
}
.form--submit-btn:hover{
    color: #E52B50;
    background-color: #fff;
}
.btn-border-white{
    background-color: transparent;
    border: 1px solid #fff;
}
/* Form End */
/* Media Start */
@media screen and (min-width: 1700px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1440px;
    }
    .home--page-about-project-cards{
        margin-right: 60px;
    }
    .home--ticket-content{
        margin-left: 50px;
    }
    .home--digital-card-box{
        right: 23%;
    }
    .home--ticket-image {
        max-height: 398px;
        top: -18px;
    }
    .partner--section-slider .swiper-pagination-bullets{
        bottom: 10px;
    }
}
@media screen and (max-width: 1200px){
    .partner-popup-overlay.active, .form--container.active{
        overflow-y: auto;
    }
    .home--about-project-item{
        position: relative;
        left: 0;
        transition: all .5s ease;
    }

}
@media screen and (min-width: 1200px){

    .image-with-content-box-description .page--title{
        max-width: 388px;
    }
    .image-with-content-box-description p{
        max-width: 488px;
    }
    .home--page-digital-card-product img{
        height: 650px ;
    }
    .home--page-about-project{
        justify-content: space-between;
        margin-bottom: 20px;
    }
   
    .home--ticket-content h1{
        max-width: 250px;
    }
    .home--page-exlusive-card-container,
    .home--page-ticket-container{
        margin-bottom: 150px;
    }
    .home--page-exlusive-card-container{
        width: 100%;
    }
    .home--page-exlusive-card-container > * {
        flex-shrink: 0;
    }
    .footer--logo-container{
        flex: 0 0 312px;
    }
    .home--page-about-project-dec{
        padding-top: 94px;
    }
    .footer--main{
        height: 500px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .form--container .burger_bar_container{
        top: -30px;
        right: -50%;
    }
    .form--container .burger_bar_container::before{
        content: 'close';
        display: block;
        position: absolute;
        font-family: 'Roboto';
        top: 5px;
        left: -40px;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
    }
    .form--container .burger_bar_container.active .bars{
        background-color: #fff;
    }

    .form--container #drawSVG{
        display: none;
    }
}

@media screen and (max-width: 1366px){
    .home--digital-card-box{
        right: 8%;
    }
}

@media screen and (max-width: 1199px){
    .form--container{
        top: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 74px 44px;
    }
    .home--page-exlusive-card-container{
        flex-wrap: wrap;
    }
    .home--page-ticket-container,
    .home--page-exlusive-card-container{
        margin-bottom: 100px;
    }
    .home--page-about-project-phone{
        width: 300px;
        height: 518px;
        margin-top: -130px;
    }
    .home--page-about-project-phone img:not(.home--phone-layer) {
        top: 0;
        max-width: 210px;
        max-height: 464px;
    }
    .home--digital-card-box{
        max-height: 330px;
        max-width: 410px;
        right: 0;
        padding: 40px 30px;
        top: 50%;
        transform: translateY(-50%);
    }

    .home--ticket-phone{
        top: -60px;
        left: -30px;
        width: 280px;
        height: 482px;
    }
    .home--ticket-image{
        max-width: 50%;
        max-height: 318px;
        top: -14px;
    }
    .home--ticket-content h1{
        max-width: 144px;
        font-size: 29px !important;
        line-height: 35px;
    }
    .home--ticket{
        height: 364px;
    }
    .image-with-content-box-container{
        margin-bottom: 50px;
    }
    .subheader-section{
        height: 450px;
        margin-bottom: 40px;
        margin-top: -80px;
    }
    .subheader-section p{
        max-width: 425px;
    }
    .image-with-content-box-description{
        top: 35px;
        width: 56%;
        padding: 43px 30px;
    }
    .image-with-content-box-container{
        min-height: 500px;
    }
    .pad-distance-between-header-footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fancybox-navigation{
        width: 85%;
    }
    .fancybox-navigation .fancybox-button div{
        padding: 3px;
    }
    .fancybox-navigation .fancybox-button{
        width: 40px;
        height: 40px;
    }
    .header--container{
        height: 80px;
    }
    .logo-container{
        width: 130px;
        height: 35px;
    }
    .header--nav-btn{
        width: 140px;
        height: 40px;
        padding: 12px 0;
        margin-left: 44px;
    }
    .header--nav-link{
        font-size: 13px;
        line-height: 15px;
    }
    h2,.h2{
        font-size: 35px;
        line-height: 41px;
    }
    h3,.h3{
        font-size: 18px;
        line-height: 21px;
    }

    p,.p{
        font-size: 14px;
        line-height: 23px;
    }
    .blog--inner-cover{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .blog--item-description{
        padding-left: 15px;
        padding-right: 15px;
    }
    footer{
        height: 650px;
    }
    .footer--main{
        height: 300px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer--map-container{
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        height: 300px;
    }
    .contact_map{
        position: relative;
        height: 100%;
    }
    .page--title{
        margin-bottom: 10px;
    }
    .page--title-section{
        margin-bottom: 20px;
    }
    /* Custom Start */
    .blog_cover{
        max-height: 145px;
    }
    /* Custom End */
}

@media screen and (max-width: 992px){
    .image-with-content-box-description{
        height: 480px;
    }
    .home--ticket {
        background-position: -400px center;
    }
    .home--ticket-phone{
        left: -60px;
    }
    .home--ticket-image{
        max-width: 45%;
        object-fit: fill;
    }
    .partner--section-slide-item{
        max-width: 210px;
    }
}

@media screen and (max-width: 767px){

    .partner--section-slider .partner--section-slide-item img{
        max-width: 90px;
        max-height: 75px;
    }
    .home--page-about-card-item-title{
        font-size: 16px;
    }
    .partner--section-slide-item{
        max-width: 108px;
        margin-right: 6px;
    }
    .form--container{
        padding: 25px 15px;
    }
    .form--container .burger_bar_container{
        top: 20px;
        right: 15px;
    }
    .header--container{
        z-index: 920;
    }
    .burger_container{
        display: block;
    }
    .home--page-about-card-item:hover::before{
        border-left-color: #E52B50;
    }
    .home--page-about-card-item,.home--page-about-card-subitem{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 130px;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home--page-about-project-cards{
        padding-top: 30px;
    }
    .home--page-about-card-item-dropdown{
        box-shadow: none;
        display: flex;
    }
    .home--page-about-card-item-dropdown .home--page-about-card-item::after{
        content: none;
    }
    .home--page-about-card-item-dropdown .home--page-about-card-item{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .home--page-about-card-item::before {
        top: -40px;
        transform: translateX(-50%) rotate(-90deg);
        right: auto;
        left: 50%;
    }
    .home--page-about-card-item-icon{
        margin-bottom: 4px;
        margin-right: 0;
    }
    .home--page-about-project,
    .home--page-about-project-description{
        flex-wrap: wrap;
    }
    .fancybox-navigation,
    .home--digital-card-box{
        position: static;
    }
    .home--phone-layer,.home--page-about-project-phone{
        position: relative;
    }
    .home--page-about-project-phone img:not(.home--phone-layer){
        top: 17px;
        max-width: 206px;
        max-height: 440px;
        object-fit: cover;
    }
    .home--page-about-project-phone{
        margin-top: 0;
    }
    .home--page-about-card-subitem,
    .home--page-about-card-item{
        margin-bottom: 0;
    }

    .home--page-about-project-cards{
        order: 1;
    }
    .home--page-about-project-description{
        overflow: hidden;
        margin-bottom: 24px;
    }
    .home--page-about-project-dec{
        padding-top: 0;
        margin-bottom: 24px;
    }
    .home--page-about-project-cards{
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    .image-with-content-box-container img{
        max-width: 100%;
    }
    .home--page .image-with-content-box-container img{
        height: 250px;
    }
    .home--digital-card-box{
        transform: none;
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -80px;
    }
    .home--ticket{
        height: 228px;
        background-position: -120px center;
    }
    .page--title-section,
    .page--activity-album-item{
        margin-bottom: 15px;
    }
    .home-page--promo-section-cover{
        height: 260px;
    }
    h2,.h2{
        font-size: 25px;
        line-height: 29px;
    }
    .blog--inner-content,.subheader-section,.home--ticket-content,
    .partner--section-container, .home--page-about-project,.home-page--promo-section{
        padding-left: 15px;
        padding-right: 15px;
    }
    .home--page  .subheader-section h2{
        font-size: 40px;
        line-height: 47px;
    }
    .home--page  .subheader-section .app--buttons{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .home--page  .subheader-section .app--buttons .app--button{
        margin-right: 0;
        margin-bottom: 12px;
    }
    .home--page  .subheader-section{
        height: 450px;
    }
    .related--item-contet p,.nav:not(.burger-nav) .header--nav-link,.home--ticket-phone,
    .related--item-single  .blog--release-date--tooltip,.home--ticket-image{
        display: none;
    }
    .footer--main > div, .page--activity-albums{
        flex-wrap: wrap;
    }
    .home--ticket-content{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .related--item-contet{
        padding: 21px 15px;
    }
    .related--item-single{
        height: 80px;
        margin-bottom: 15px;
    }
    .related--item-single-cover{
        max-width: 130px;
        height: 100%;
    }
    .subheader-section{
        height: 100vh;
        padding-top: 50px;
    }
    .subheader-section p{
        max-width: 300px;
    }
    .image-with-content-box-container{
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 30px;
    }
    .image-with-content-box-container img{
        max-width: 100%;
    }
    .partner--section-slider{
        min-height: 300px;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .partner--section-slide-item{
        height: 75px;
    }
    .home--exclusive-content{
        margin-bottom: 15px;
    }
    .partner--section-slider .partner--section-slide-item{
        margin-bottom: 10px;
    }
    .image-with-content-box-description{
        position: relative;
        top: -45px;
        width: 100%;
        height: auto;
        padding: 30px 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .image-with-content-box-description .page--title{
        font-weight: bold;
    }
    .header--nav-btn {
        position: relative;
        z-index: 999;
        width: 100px;
        height: 30px;
        padding: 7px 0;
        font-size: 12px;
        line-height: 14px;
        margin-left: 44px;
    }
    
    .header--nav-btn.active{
        border-color: #E52B50;
        color: #E52B50;
    }
    .footer--main{
        padding-top: 0;
        padding-bottom: 0;   
    }
    .footer--social-container{
        margin: 0;
    }
    .footer--logo-container{
        flex: 0 0 100%;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .footer--logo-container .logo-container{
        width: 92px;
        height: 25px;
    }
    .footer--logo-container p{
        font-size: 12px;
        margin-bottom: 20px !important;
    }
    footer{
        height: 820px;
    }
    .footer--main,
    .footer--map-container{
        height: 380px;
    }
    .footer--social_ico{
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 12px;
        padding-left: 1px;
    }
    .footer_additional-item{
        margin-bottom: 14px;
    }
    .footer--main-sub{
        height: 60px;
    }
    .business--page.pb-100{
        padding-bottom: 30px;
    }
    .home--exclusive-phone{
        height: 200px;
        margin-bottom: 15px;
    }
    .home--page .partner--section-container,
    .home--page-ticket-container, .home--page-exlusive-card-container{
        margin-bottom: 30px;
    }
    .home-page--promo-section > h2, .home-page--promo-section > p,
    .home-page--promo-section .app--buttons{
        background-color: transparent;
    }
    .home--page-about-card-item-dropdown .home--page-about-card-item{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .home--page-about-project-phone{
        margin-bottom: -20px;
    }
    .home--page-about-project-phone{
        height: 500px;
        margin: 0 auto;
    }
    .home--page-about-card-subitem{
        padding-left: 15px;
        padding-right: 15px;
    }
    .home--digital-card-list-title{
        font-size: 16px;
        line-height: 19px;
    }
    .home--digital-card-list-icon{
        width: 30px;
        height: 30px;
    }
    .home--digital-card-box h2{
        margin-bottom: 20px !important;
    }
    .home--digital-card-list-item{
        margin-bottom: 10px;
    }
    .home--exclusive-list ul{
        padding: 0;
    }
}

@media screen and (max-width: 567px){
    .content.nav.burger-nav{
        width: 210px;
        padding-left: 27px;
    }
    .footer--social_ico{
        line-height: 25px;
        padding-left: 0px;
    }
    .header--container, .footer--main-sub{
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer--main{
        margin-left: -15px !important; 
        margin-right: -15px !important; 
    }
    .footer--main > div{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .home--ticket{
        background-position: -300px center;
    }
}
@media screen and (max-width: 375px){
    .logo-container{
        width: 92px;
        height: 25px;
    }
}
/* Media End */